@import "src/theme/variables.scss";

ion-content {
  height: 100%;
  width: 100%;

  @include backgroundMixin($background-image-path);
  background-color: var(--ion-color-primary) !important;
  background-size: 100%;
  background-position: center;
}
::ng-deep {
  html[data-theme="accessibility"] {
    ion-content {
      background-image: unset !important;
    }
  }
}
ion-grid {
  height: 100%;
  width: 100%;
}

ion-button {
  display: block;
  margin: auto;
}

.doctor-title {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 0.95em;
  margin-top: 10px;
}

img.logo {
  width: 210px;
  height: 210px;
  display: block;
  margin: auto;
}

.accept-btn {
  margin-top: 41px;
  --border-radius: 30px;
  --background: white;
  color: var(--ion-color-primary);
  width: 150px;
}

.refuse-btn {
  --border-style: none;
  --box-shadow: none;
  margin-top: 10px;
}
