/.angular/cache
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.jks
*.apk
.gradle/

www/
