<div *ngIf="!accepted" class="bounds incoming">
  <ion-grid>
    <ion-row style="height: 25%; width: 100%"></ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <img class="logo" src="assets/icons/Call-incoming.svg" alt="" />
        </ion-row>
        <ion-row>
          <ion-title *ngIf="user" class="doctor-title">
            {{user.firstName }} {{user.lastName | uppercase }} <br />
            <strong
              >{{ 'videoRoom.call' | translate }} {{audioOnly?
              ('videoRoom.audio' | translate):('videoRoom.video' |
              translate)}}</strong
            >
          </ion-title>
        </ion-row>
        <ion-row>
          <ion-button (click)="joinToSession()" class="accept-btn"
            >{{ 'videoRoom.accept' | translate }}</ion-button
          >
        </ion-row>

        <ion-row>
          <ion-button
            (click)="rejectCall()"
            class="refuse-btn"
            color="transparent"
            >{{ 'videoRoom.refuse' | translate }}</ion-button
          >
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div
  class="video--main"
  [ngDraggable]="!isFullScreen"
  [lockAxis]="'x'"
  [inBounds]="true"
  [ngClass]="{'fullScreen': isFullScreen , 'halfScreen':!isFullScreen, 'audioOnly': audioOnly, 'ios--main-video':this.platform.is('ios'), 'none-ios--main-video':!this.platform.is('ios')}"
>
  <!-- Main video -->
  <div
    *ngIf="accepted && !audioOnly"
    #mainStream
    [ngDraggable]="true"
    id="localUser"
    [ngClass]="{'localUserHalfScreen': !isFullScreen }"
  >
    <app-peer-video
      #streamComponentLocal
      *ngIf="myCamStream"
      [stream]="myCamStream"
      [id]="myCamStream.mediaStream.id"
    ></app-peer-video>
  </div>

  <div
    [ngClass]="{'ringing': !this.remoteUsers.length, 'ios-bounds':this.platform.is('ios'), 'none-ios-bounds':!this.platform.is('ios')}"
    id="layout"
    class="bounds"
    style="display: flex"
    (click)="toggleButtons()"
  >
    <ng-container *ngIf="accepted">
      <div *ngIf="audioOnly || noWebCam" class="audio-overlay">
        <ion-row>
          <ion-title *ngIf="user" class="doctor-title">
            <strong>{{ 'videoRoom.callInProgress' | translate }}</strong>
          </ion-title>
        </ion-row>
      </div>

      <!-- Remotes -->
      <!-- <div
        *ngFor="let user of this.remoteUsers"
        class="OT_root OT_publisher OT_remote custom-class OV_big"
        id="remoteUsers"
      >
        <ng-container *ngFor="let stream of user.streams">
          <app-peer-video
            *ngIf="stream.kind  === 'video'"
            [stream]="stream"
          ></app-peer-video>

          <app-peer-audio *ngIf="stream.kind  === 'audio'" [stream]="stream">
          </app-peer-audio>
        </ng-container>
      </div> -->
    </ng-container>
  </div>

  <ion-fab
    style="
      z-index: 1111;
      transform: translateZ(1px);
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
    "
    vertical="bottom"
    horizontal="center"
    id="exitButton"
    [ngClass]="{'fixed': !isFullScreen}"
    [@slideTopBottom]="buttonsVisibility"
  >
    <ion-fab-button class="controller white-bg" (click)="camStatusChanged()">
      <img
        *ngIf="camStatus === 'on'"
        style="float: left; width: 1.2em; height: 1.2em"
        src="assets/icons/icon-cameraOn.svg"
      />
      <img
        *ngIf="camStatus === 'off'"
        style="float: left; width: 1.2em; height: 1.2em"
        src="assets/icons/icon-cameraOff.svg"
      />
    </ion-fab-button>
    <ion-fab-button
      *ngIf="!audioOnly && !noWebCam"
      class="controller white-bg"
      (click)="toggleCamera()"
    >
      <img
        style="float: left; width: 1.2em; height: 1.2em"
        src="assets/icons/icon-toogle-camera.svg"
      />
    </ion-fab-button>
    <ion-fab-button class="controller" color="danger" (click)="exitSession()">
      <img
        style="float: left; width: 1.2em; height: 1.2em"
        src="assets/icons/icon-hangup.svg"
      />
    </ion-fab-button>
    <div style="position: relative">
      <ion-fab-button class="controller white-bg" (click)="toggleFullScreen()">
        <img
          style="float: left; width: 1.2em; height: 1.2em"
          src="assets/icons/icon-enlarge.svg"
        />
      </ion-fab-button>
      <ion-badge
        *ngIf="consultation && consultation.unreadCount"
        style="
          z-index: 200;
          position: absolute;
          top: 3px;
          right: 0px;
          line-height: 1.3;
          border-radius: 20px;
          width: 20px;
          height: 20px;
          text-align: center;
        "
        color="danger"
        >{{consultation.unreadCount}}</ion-badge
      >
    </div>
  </ion-fab>

  <!-- </ion-content> -->
</div>
