<div class="whatsapp-browser-banner">
  <div class="banner-content">
    <img src="assets/whatsapp-browser.svg" alt="warning" class="warning-icon" />
    <div class="banner-text">
      <strong>{{ 'appComponent.whatsappBrowserWarning' | translate }}</strong>
      <p>{{ 'appComponent.whatsappBrowserDescription' | translate }}</p>
    </div>
    <div class="banner-actions">
      <ion-button size="small" fill="solid" color="primary" (click)="openInBrowser()">
        {{ 'appComponent.openInBrowser' | translate }}
      </ion-button>
    </div>
  </div>
</div>
