#hhpMultiLang {
  margin-top: 10px;
  cursor: pointer;
  left: calc(50% - 21px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .sl-container {
    display: flex;
    align-items: center;
    height: 42px;
    position: relative;
  }
  .caret-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}

.lang {
  //color: white;
  background-color: #FFFFFF;
  border: 1px;

}

ion-icon {
  //color: white;
}
