<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: center;
      margin-right: 25%;
      font-size: 0.9em;">
      {{ 'history.historyOfConsultations' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ion-margin">
    <ion-item lines="full" routerLink="/">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="11">
            <ion-row class="patient"> {{ 'history.germainePINGET' | translate }}</ion-row>
            <ion-row class="time">{{ 'history.march19AndTime' | translate }}</ion-row>
          </ion-col>
          <ion-col class="arrow" size="1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="full" routerLink="/">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="11">
            <ion-row class="patient"> {{ 'history.heleneKOCH' | translate }}</ion-row>
            <ion-row class="time">{{ 'history.march19AndTime' | translate }}</ion-row>
          </ion-col>
          <ion-col class="arrow" size="1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="full" routerLink="/">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="11">
            <ion-row class="patient"> {{ 'history.francoiseLAMARTINE' | translate }} </ion-row>
            <ion-row class="time">{{ 'history.march19AndTime' | translate }}</ion-row>
          </ion-col>
          <ion-col class="arrow" size="1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="full" routerLink="/">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="11">
            <ion-row class="patient"> {{ 'history.germainePINGET' | translate }}</ion-row>
            <ion-row class="time">{{ 'history.march19AndTime' | translate }}</ion-row>
          </ion-col>
          <ion-col class="arrow" size="1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="full" routerLink="/">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="11">
            <ion-row class="patient"> {{ 'history.germainePINGET' | translate }}</ion-row>
            <ion-row class="time">{{ 'history.march19AndTime' | translate }}</ion-row>
          </ion-col>
          <ion-col class="arrow" size="1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="full" routerLink="/">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="11">
            <ion-row class="patient"> {{ 'history.germainePINGET' | translate }}</ion-row>
            <ion-row class="time">{{ 'history.march19AndTime' | translate }}</ion-row>
          </ion-col>
          <ion-col class="arrow" size="1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
