.login-full-width {
  width: 100%;
  height: 50px;
  padding: 0;
}

.custom-card {
  width: 50%;
}

.login-full-width input {
  height: 100%;
}

.terms-btn {
  //background: #fff;
  font-size: 0.8em;
}

.at {
  margin: 16px;
  font-size: 37px;
  text-align: center;
  //color: #ffff;
  font-weight: 500;
}

.at > span {
  display: block;
  font-size: 12px;
}

.wrap {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

p {
  font-weight: 500;
  //color: #fff;
}


.container {
  padding: 24px;
  //text-align: center;
}

ion-label {
  //color: #ffff;
}

.left-side {
  width: 50%;
  background: var(--ion-color-primary);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

ion-item {
  //--color: #fff;
  //--border-color: white; // default underline color
  //--highlight-color-valid: white; // valid underline color

  ion-input,
  ion-datetime {
    //--placeholder-color: #ceecff;
  }
}
a {
  //color: #fff;
  text-decoration: none;
}

.icons {
  text-align: center;

  img {
    max-height: 60px;
  }
}
.ics {
  text-align: center;
  a {
    display: inline-block;
  }
}
ion-card {
  margin: 40px auto;
}

.title {
  //color: #ffffff;
  text-align: center;
  margin: 80px auto 40px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 92%;
  }
  .title {
    margin: 40px auto 40px;
  }
}

.invite-error {
  text-align: center;
  font-size: 21px;
  margin-top: 26px;
  padding: 3px;
}
ion-content {
  background: transparent;
}

.checkbox-wrapper {
  display: flex;
  gap: 10px;
  //color: white;
  justify-content: center;
  margin-top: 3rem;

  ion-checkbox {

    //--border-color: #fff;
    //--background-checked: #fff;
    //--checkmark-color: var(--blue-bg-color);
    //--border-color-checked: var(--blue-bg-color);
  }

  .terms {
    text-decoration: underline;
    //text-decoration-color: #FFFFFF;
    cursor: pointer;
  }

}

footer {
  display: flex;
  align-items: center;
  align-content: center;
  //color: white;
  justify-content: center;
  div {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
::ng-deep {
  html[data-theme="accessibility"] {
    p {
      text-align: left;
    }
    .container {
      margin-left: 20px !important;
      padding-right: 15px;
    }
    .footer {
      text-align: left;
      display: flex;
    }
    #hhpMultiLang {
      align-items: center !important;
    }

    .token-error-title {
      font-size: 1em;
    }
    .token-error-content {
      font-size: 0.81em;
    }
    .title {
      text-align: left;
      margin-left: 0px;
    }
  }
}
