@import "src/theme/variables.scss";

.jumbotron {
  color: #ffffff;
  height: 240px;
  @include backgroundMixin($background-image-path);
  background-color: var(--ion-color-primary) !important;
  background-position: center;
  border-radius: 0px;
  text-align: center;
}
::ng-deep {
  html[data-theme="accessibility"] {
    .jumbotron {
      background-image: unset !important;
    }
  }
}
.jumbotron.await {
  height: 283px;
}

ion-card-title {
  color: #fff;
}
.title {
  text-align: center;
  margin-top: 1rem;
}
ion-card-content {
  padding-top: 0;
}
.subtitle {
  text-align: center;
  font-size: 1em;
}

.subtitle.doctor {
  margin-top: 6px !important;

  a {
    color: #fff;
  }
}

.video-btn {
  display: block;
  margin: 30px 15% 12px 15%;
  --background: #ffffff;
  color: var(--ion-color-primary);
  font-size: 0.8em;
  font-weight: bold;
  --border-radius: 36px;
}

.bubble {
  border-radius: 10px;
  word-break: break-word;
  // min-width:270px;
  // display: flex;
  // flex: 1 1 300px;
  // max-width: 80%;
  // min-width: 0;
}

.incoming > ion-row > ion-col > .bubble a{
  color: #e2e2e2;
}

.incoming > ion-row > ion-col > .bubble {
  background-color: var(--ion-color-primary);
  color: #ffffff;
}

span.msg-time {
  margin-top: 6px;
  font-size: 0.43em;
  color: rgb(58, 58, 58);
}

row.msg-time {
  min-width: 80%;
  flex-direction: row-reverse;
}

.outgoing,
.incoming {
  // min-width:270px;
  // max-width: 50%;
}

.outgoing > ion-row > ion-col > .bubble {
  color: rgb(58, 58, 58);
  background-color: #ffffff;

  // margin-left: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
  // flex: 0 0 calc(calc(10 / var(--ion-grid-columns, 12)) * 100%);
  // width: calc(calc(10 / var(--ion-grid-columns, 12)) * 100%);
  // max-width: calc(calc(10 / var(--ion-grid-columns, 12)) * 100%);
}

.outgoing ion-row.msg-time {
  justify-content: flex-end;
}

.outgoing span.msg-time {
  text-align: right;
}

div.input {
  // position: fixed;
  bottom: 0px;
  width: 100%;
  // height: 60px;
  display: flex;
  background-color: #ffffff;
}

div.input > ion-grid > ion-row > ion-col.ico {
  height: 60px;
  padding: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.ico-left,
.ico-right {
  justify-content: center;
  height: 100%;
  ion-button {
    width: 100%;
    height: 100%;
  }
}
div.input > ion-grid > ion-row > ion-col.ico-left {
  border-right: 1px solid #e4e4e4;
}

div.input > ion-grid > ion-row > ion-col.ico-left > ion-button {
  --background: #ffffff;
  color: black;
  border: none;
  -border-style: none;
  --border-radius: none;
  --border-width: 0;
  --box-shadow: none;
  margin: 0px;
  padding-top: 0px;
  max-width: 100%;
}

div.input > ion-grid > ion-row > ion-col.ico-right > ion-button {
  color: #ffffff;
  --background: black;
  border: none;
  -border-style: none;
  --border-radius: 40px;
  height: 40px;
  width: 40px;
  --border-width: 0;
  --box-shadow: none;
  margin: 0px;
  padding-top: 0px;
  font-size: 10px;
  // transition: all .2s ease-out;

  margin: auto;
}

.mic-recording {
  color: #ffffff;
  --background: var(--ion-color-primary) !important;
  border: none;
  -border-style: none;
  --border-radius: 60px !important;
  height: 58px !important;
  width: 58px !important;
  --border-width: 0;
  --box-shadow: none;
  margin: 0px;
  padding-top: 0px;
  font-size: 10px;
  margin: auto;
  transition: all 0.2s ease-in;
  height: 120px !important;
  width: 120px !important;
  right: -7px;
  position: absolute;
}

div.input > ion-grid > ion-row > ion-col {
  // height: 60px;
  padding: 0px;
  padding-top: 8px;
}

div.input > ion-grid > ion-row > ion-col > ion-textarea {
  padding: 0;
}

div.input > ion-grid > ion-row > ion-col > ion-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}

.cancel-btn {
  margin-top: 15px;
  --border-radius: 30px;
  --background: white;
  color: var(--ion-color-primary);
  // margin-left: 30%;
  display: inline-block;
  
}

@media screen and (max-width: 640px) {
  .jumbotron,
  .jumbotron.await {
    height: 300px;
  }
}
.join-call-btn-container {
  display: flex;
  font-size: 0.6em;
  justify-content: center;
}
.keep-open {
  color: white;
  text-align: center;
  background: #ee5555;
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
#chatHeader {
  text-align: center;
  font-size: 0.9em;
}
ion-icon[name="attach"] {
  min-width: 32px;
}

.left-img {
  display: flex;
}

.right-img {
  display: flex;
  justify-content: flex-end;
}

.chat-text-container {
  display: inline-flex;

  a {
    text-decoration: underline;
  }
}

.outgoing {
  .chat-text-container {
    flex-direction: row-reverse !important;
  }
}

::ng-deep {
  html[data-theme="accessibility"] {
    .title {
      text-align: left !important;
    }
    p {
      text-align: left !important;
      margin-left: 20px;
      margin-right: 20px;
    }

    #chatHeader {
      text-align: left;
      font-size: 1em;
    }
    .msg-time {
      font-size: 0.8em !important;
    }
    .subtitle {
      font-size: 1.1em;
    }
    .doctor-info-card {
      padding-left: 0;
    }
    .keep-open {
      padding-left: 20px;
    }
  }
}
