@import "src/theme/variables.scss";

ion-content {
  background-color: var(--blue-bg-color);
  scrollbar-track-color: #f1f1f1;
}

ion-toolbar {
  --background: #FFFFFF;
}

.jumbotron {
  color: #ffffff;
  background-color: var(--ion-color-primary) !important;
  background-position: center;
  border-radius: 0;
  text-align: center;
}

::ng-deep {
  html[data-theme="accessibility"] {
    .jumbotron {
      background-image: unset !important;
    }
  }
}

.closedWrapper {
  background-color: var(--ion-color-primary) !important;
}

ion-card-title {
  color: #FFFFFF;
}

.title {
  text-align: center;
  margin-top: 1rem;
}

ion-card-content {
  padding-top: 0;
}

.subtitle {
  text-align: center;
  font-size: 1em;
}

.backToDashboard {
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  margin-top: 0.5rem;
  text-decoration: underline;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration-color: #FFFFFF;
}

.subtitle.doctor {
  margin-top: 6px !important;

  a {
    color: #fff;
  }
}

.video-btn {
  display: block;
  margin: 30px 15% 12px 15%;
  --background: #ffffff;
  color: var(--ion-color-primary);
  font-size: 0.8em;
  font-weight: bold;
  --border-radius: 36px;
}

.bubble {
  border-radius: 10px;
  word-break: break-word;
}

.incoming > ion-row > ion-col > .bubble a{
  color: #e2e2e2;
}

.incoming > ion-row > ion-col > .bubble {
  background-color: var(--ion-color-primary);
  color: #ffffff;
}

span.msg-time {
  margin-top: 6px;
  font-size: 0.43em;
  padding-left: 5px;
  color: rgb(58, 58, 58);
}

row.msg-time {
  min-width: 80%;
  flex-direction: row-reverse;
}

.outgoing > ion-row > ion-col > .bubble {
  color: rgb(58, 58, 58);
  background-color: #FFFFFF;
}

.outgoing ion-row.msg-time {
  justify-content: flex-end;
}

.outgoing span.msg-time {
  text-align: right;
}

div.input {
  bottom: 0;
  align-items: center;
  width: 100%;
  display: flex;
  background-color: #ffffff;
}

.attachment-wrapper {
  border-right: 1px solid #e0eafd;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.attachment-wrapper ion-icon {
  height: 40px;
  width: 40px;
}

.send-button-wrapper {
  padding-right: 10px;
}

.send-button {
  --border-radius: 50px;
  width: 50px;
  height: 50px;
}

.mic-recording {
  color: #ffffff;
  --background: var(--ion-color-primary) !important;
  border: none;
  -border-style: none;
  --border-radius: 60px !important;
  height: 58px !important;
  width: 58px !important;
  --border-width: 0;
  --box-shadow: none;
  margin: 0px;
  padding-top: 0px;
  font-size: 10px;
  margin: auto;
  transition: all 0.2s ease-in;
  height: 120px !important;
  width: 120px !important;
  right: -7px;
  position: absolute;
}

.cancel-btn {
  margin-top: 15px;
  margin-bottom: 15px;
  --border-radius: 30px;
  --background: white;
  color: var(--ion-color-primary);
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .jumbotron,
  .jumbotron.await {
    height: 300px;
  }
}

.join-call-btn-container {
  display: flex;
  font-size: 0.6em;
  justify-content: center;
}

.keep-open {
  color: white;
  text-align: center;
  background: #ee5555;
  padding: 10px;
  margin: 0;
  font-weight: bold;
}

#chatHeader {
  text-align: center;
  font-size: 0.9em;
}

ion-icon[name="attach"] {
  min-width: 32px;
}

.left-img {
  display: flex;
}

.right-img {
  display: flex;
  justify-content: flex-end;
}

.chat-text-container {
  display: inline-flex;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.outgoing {
  .chat-text-container {
    flex-direction: row-reverse !important;
  }
  .msg-time {
    text-align: end;
  }
}

::ng-deep {
  html[data-theme="accessibility"] {
    .title {
      text-align: left !important;
    }
    p {
      text-align: left !important;
      margin-left: 20px;
      margin-right: 20px;
    }

    #chatHeader {
      text-align: left;
      font-size: 1em;

    }
    .msg-time {
      font-size: 0.8em !important;
    }
    .subtitle {
      font-size: 1.1em;
    }
    .doctor-info-card {
      padding-left: 0;
    }
    .keep-open {
      padding-left: 20px;
    }
  }
}
