@import "src/theme/variables.scss";

.wrap {
  width: 100%;
  min-height: 100%;
  @include backgroundMixin($background-image-path);
  background-color: var(--ion-color-primary) !important;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
}
::ng-deep {
  html[data-theme="accessibility"] {
    .wrap {
      background-image: unset !important;
    }
  }
}
.container {
  display: block;
  margin: 30px auto;
  width: 70%;
  color: #ffffff;
}

li {
  margin-top: 21.5339;
  margin-bottom: 21.5339;
}

markdown ::ng-deep { 
  ol {
    counter-reset: item;
    list-style: none;
  }
  li:before { 
    content: counters(item, ".") ". ";
    counter-increment: item;
    margin-left: -40px;
    margin-right: 10px;
  }

  li > p {
    display: inline;
  }
  
  li {
    padding-top: 19px;
    padding-bottom: 10px;
  }
}

.title {
  text-align: center;
  margin: 80px auto 40px;
  font-size: 1.2em;
}

.back {
  text-align: center;
  display: block;
}

.back-link {
  background: #fff;
  color: #006eb5;
  text-decoration: none;
  border-radius: 60px;
  padding: 5px 15px 5px 15px;
  margin-top: 30px;
}

a {
  color: #fff;
}
h3 {
  margin: 40px 0 20px;
}
table {
  border-collapse: collapse;
  margin-bottom: 40px;

  tr {
    border-bottom: 1px solid #2a99e6;
  }
  td {
    padding: 10px;
  }
  .label {
    font-weight: 700;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 92%;
  }
  .title {
    margin: 40px auto 40px;
  }
  table {
    td {
      padding: 4px;
    }
  }
}
