<ion-content >
    <div class='center'>
        <div class="custom-card">
    <div class="container">
      <div class="title" *ngIf="!error">
        {{ 'cgu.selectCountry' | translate}}
        <div id="hhpCountrySelect">
          <div class="sl-container">
            <ion-icon name="globe"></ion-icon>
            <select class="lang" #langSelect (change)="changeCountry(langSelect.value)">
              <option *ngFor="let country of countries"
                      [value]="country"
              >{{country}}</option>
            </select>
          </div>
        </div>
        </div>
        <div class="back">
          <a (click)="goBack()" class="back-link">{{ 'cgu.backToHome' | translate }}</a>
        </div>

        <h2>{{ 'cgu.termsAndConditions' | translate }}</h2>

        <markdown [src]="error ? 'assets/terms.md' : 'assets/terms/' + selectedTermName">
          Terms and conditions have not yet been configured.
        </markdown>

      <div class="back">
        <a (click)="goBack()" class="back-link">{{ 'cgu.backToHome' | translate }}</a>
      </div>
    </div>
  </div>
    </div>
</ion-content>
