<ion-content padding>
  <div class="wrap">
    <div class="container">
      <div class="title">
        <h2>{{ 'cgu.termsAndConditions' | translate }}</h2>
      </div>

      <a [routerLink]="['/login']" class="back-link" mat-button>{{ 'cgu.backToHome' | translate }}</a>

      <p><strong>
        {{ 'cgu.theHomeApplicationIsIntented' | translate:configService.config }}
      </strong></p>

      <p>{{ 'cgu.thePurposeOfTheTermsAndConditions' | translate }}</p>

      <ol>
        <!-- 1 -->
        <li>
          {{ 'cgu.the' | translate }} <strong>{{ 'cgu.functionalities' | translate }}</strong> {{ 'cgu.governedByThese' | translate }}
          <ul>
            <li>
              <em>{{ 'cgu.textMessageExchanges' | translate }}</em><br>
              {{ 'cgu.theApplicationWillAllowYou' | translate }}
            </li>
            <li>
              <em>{{ 'cgu.videoOrAudioCalls' | translate }}</em><br>
              {{ 'cgu.ifNecessary' | translate }}
            </li>
          </ul>
        </li>
        <!-- 2 -->
        <li>
          {{ 'cgu.byInstallingTheApplication' | translate }} <strong>{{ 'cgu.toHaveReadTheTermsAndConditions' | translate }}</strong> {{ 'cgu.andToAcceptThem' | translate }}
        </li>
        <!-- 3 -->
        <li>{{ 'cgu.byUsingApplication' | translate }} <strong>{{ 'cgu.theUserCertifies' | translate }}</strong> {{ 'cgu.orWhereApplicable' | translate }}</li>
        <!-- 4 -->
        <li>
          <strong>{{ 'cgu.theAuthorsOfTheApplication' | translate }}</strong> {{ 'cgu.atAllTimesBut' | translate }}
        </li>
        <!-- 5 -->
        <li>
          {{ 'cgu.theAuthorsOfTheApplicationDoNot' | translate }}
        </li>
        <!-- 6 -->
        <li>
          <strong>{{ 'cgu.theAuthorsOfTheApplicationMayInterrupt' | translate }}</strong>{{ 'cgu.inParticularForReasons' | translate }}
        </li>
        <!-- 7 -->
        <li>
          {{ 'cgu.theApplicationAsWellAs' | translate }} <strong>{{ 'cgu.copyrights' | translate }}</strong>. {{ 'cgu.aLimited' | translate }}
        </li>
        <!-- 8 -->
        <li>
          <strong>{{ 'cgu.givenThePossible' | translate }}</strong>
          {{ 'cgu.theseModifications' | translate }}
        </li>
        <!-- 9 -->
        <li>
          {{ 'cgu.anyPossible' | translate }} <strong>{{ 'cgu.genevaCourtsSwitzerland' | translate }}</strong>.
          {{ 'cgu.the' | translate }} <strong>{{ 'cgu.swissLawIsApplicable' | translate }}</strong>.
        </li>
      </ol>

      <p>
        {{ 'cgu.contactByPhone' | translate }} <a href="tel:hugathome@hcuge.ch">hugathome@hcuge.ch</a>
      </p>

      <h3>{{ 'cgu.consentToTheUserOfData' | translate }}</h3>

      <p>
        {{ 'cgu.byInstallingAndUsingTheApplication' | translate:configService.config }}
      </p>

      <table>
        <tr>
          <td></td>
          <td class="label">{{ 'cgu.anonymousTechnicalData' | translate }}</td>
          <td class="label">{{ 'cgu.nonAnonymousPersonalData' | translate }}</td>
        </tr>
        <tr>
          <td class="label">{{ 'cgu.typesOfData' | translate }}</td>
          <td>
            {{ 'cgu.timestampAtTheStart' | translate }}
          </td>
          <td>{{ 'cgu.firstNameSurName' | translate }}</td>
        </tr>
        <tr>
          <td class="label">{{ 'cgu.treatment' | translate }}</td>
          <td>
            {{ 'cgu.dataExported' | translate }}
          </td>
          <td>{{ 'cgu.usedForTheGeneration' | translate }}</td>
        </tr>
        <tr>
          <td class="label">{{ 'cgu.storageArea' | translate }}</td>
          <td>{{ 'cgu.hugServerSwitzerland' | translate:configService.config }}</td>
          <td>{{ 'cgu.exoscaleServerSwitzerland' | translate }}</td>
        </tr>
      </table>

      <p>{{ 'cgu.thisConstentIsKept' | translate:configService.config }}</p>
      <p>{{ 'cgu.theUserCanAssert' | translate:configService.config }}</p>
      <p>
        {{ 'cgu.nonAnonymizedData' | translate }}
      </p>
      <p style="text-align: right;font-size: 1.1em">{{ 'cgu.genevaMarch' | translate }}</p>

      <a [routerLink]="['/']" class="back-link" mat-button>{{ 'cgu.backToHome' | translate }}</a>
    </div>
  </div>
</ion-content>
