@import "src/theme/variables.scss";

::ng-deep {
  html[data-theme="accessibility"] {
    .wrap {
      background-image: unset !important;
    }
  }
}
.container {
  display: block;
  margin: 30px auto;
  width: 70%;
}

li {
  margin-top: 21.5339;
  margin-bottom: 21.5339;
}

markdown ::ng-deep { 
  ol {
    counter-reset: item;
    list-style: none;
  }
  li:before { 
    content: counters(item, ".") ". ";
    counter-increment: item;
    margin-left: -40px;
    margin-right: 10px;
  }

  li > p {
    display: inline;
  }
  
  li {
    padding-top: 19px;
    padding-bottom: 10px;
  }
}

.title {
  text-align: center;
  margin: 80px auto 40px;
  font-size: 1.2em;
}

.back {
  text-align: center;
  display: block;
}

.back-link {
  color: var(--ion-color-primary);
  text-decoration: none;
  border-radius: 60px;
  padding: 5px 15px 5px 15px;
  margin-top: 30px;
}

a {
  color: var(--ion-color-primary);
}

h3 {
  margin: 40px 0 20px;
}

table {
  border-collapse: collapse;
  margin-bottom: 40px;

  tr {
    border-bottom: 1px solid var(--ion-color-primary);
  }
  td {
    padding: 10px;
  }
  .label {
    font-weight: 700;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 92%;
  }
  .title {
    margin: 40px auto 40px;
  }
  table {
    td {
      padding: 4px;
    }
  }
}

#hhpCountrySelect {
  margin-top: 10px;
  cursor: pointer;
  left: calc(50% - 21px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .sl-container {
    display: flex;
    align-items: center;
    height: 42px;
    position: relative;
  }
  .caret-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}

.lang {
  background-color: #FFFFFF;
  outline: none;
  border: 0;
}
