#dashboard-div {
  height: 100%;
  padding: 20px;
}

.custom-card {
  width: 400px;
  @media (max-width: 598px) {
    width: 100%;
  }
}

.messages-wrapper {
    .messages {
      gap: 10px;
      display: flex;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 8px;
      align-items: flex-start;
      flex-direction: column;

      .success-icon {
        width: 50px;
        height: 50px;
        color: #06d362;
        margin-right: 12px;
      }

      .failure-icon {
        width: 50px;
        height: 50px;
        color: #d25555;
        margin-right: 12px;
      }

      .description {
        font-size: 14px;

      }
    }

  .btn {
    margin: 0 !important;
  }

}

::ng-deep {
  html[data-theme="accessibility"] {
    .proceed-btn,
    p {
      text-align: left;
    }

    .messages {
      font-size: 1.2rem !important;
    }
  }
}
