<ion-content>
    <app-header></app-header>

    <div class='center' style="height: unset">
        <div class="custom-card">
            <div class="container">

                <ion-text>
                    <h1 class="authenticate"> {{ 'request_consultation.consultation_request_form' | translate }}</h1>
                </ion-text>

                <div class="request-text">
                    {{ 'request_consultation.request_form_title' | translate }}
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <ion-list>
                        <ion-item class="mb-3" lines="none">
                            <ion-select interface="popover"
                                        fill="solid"
                                        mode="android"
                                        placeholder="{{ 'request_consultation.select_expert_area' | translate }}"
                                        formControlName="queue">
                                <ion-select-option [value]="option.id"
                                                   *ngFor="let option of queues">{{ option.name }}
                                </ion-select-option>
                            </ion-select>
                            <ion-note slot="error"
                                      *ngIf="validationService.showError(form, 'queue')">{{ getErrorMessage('queue') }}
                            </ion-note>
                        </ion-item>
                    </ion-list>

                    <ion-item class="mb-3" lines="none">
                        <ion-input
                                fill="solid"
                                labelPlacement="floating"
                                label="{{ 'request_consultation.patient_firstname' | translate }}"
                                (ionBlur)="validationService.clearSpace(form, 'firstName')"
                                (ionFocus)="validationService.resetInputValidation(form, 'firstName')"
                                (ionChange)="validationService.ltrim(form, 'firstName')"
                                placeholder="{{ 'request_consultation.enter_patient_firstname' | translate }}"
                                formControlName="firstName"
                        ></ion-input>
                        <ion-note slot="error"
                                  *ngIf="validationService.showError(form, 'firstName')">{{ getErrorMessage('firstName') }}
                        </ion-note>
                    </ion-item>

                    <ion-item class="mb-3" lines="none">
                        <ion-input
                                fill="solid"
                                labelPlacement="floating"
                                label="{{ 'request_consultation.patient_lastname' | translate }}"
                                (ionBlur)="validationService.clearSpace(form, 'lastName')"
                                (ionFocus)="validationService.resetInputValidation(form, 'lastName')"
                                (ionChange)="validationService.ltrim(form, 'lastName')"
                                placeholder="{{ 'request_consultation.enter_patient_lastname' | translate }}"
                                formControlName="lastName"
                        ></ion-input>
                        <ion-note slot="error"
                                  *ngIf="validationService.showError(form, 'lastName')">{{ getErrorMessage('lastName') }}
                        </ion-note>
                    </ion-item>

                    <ion-list>
                        <ion-item class="mb-3" lines="none">
                            <ion-select interface="popover"
                                        mode="android"
                                        fill="solid"
                                        placeholder="{{ 'request_consultation.select_gender' | translate }}"
                                        formControlName="sex">
                                <ion-select-option [value]="option.id"
                                                   *ngFor="let option of genders">{{ option.name }}
                                </ion-select-option>
                            </ion-select>
                            <ion-note slot="error"
                                      *ngIf="validationService.showError(form, 'sex')">{{ getErrorMessage('sex') }}
                            </ion-note>

                        </ion-item>
                    </ion-list>


                    <ion-item class="mb-3" lines="none">
                        <ion-input labelPlacement="floating"
                                   fill="solid"
                                   label="{{ 'request_consultation.age' | translate }}"
                                   placeholder="{{ 'request_consultation.enter_age' | translate }}" type="number"
                                   formControlName="age"
                        ></ion-input>
                    </ion-item>

                    <ion-item (click)="openCountrySelect()" class="mb-3" lines="none">
                        <ion-input
                                fill="solid"
                                label="{{ 'request_consultation.country' | translate }}"
                                labelPlacement="floating"
                                readonly="true" placeholder="{{ 'request_consultation.select_country' | translate }}"
                                formControlName="country"
                        ></ion-input>
                    </ion-item>


                    @if (configService.config?.formRequesterMeta?.length) {
                        @for (field of configService.config.formRequesterMeta; track field) {
                            <ion-item class="mb-3" *ngIf="form.get(field)" lines="none">
                                <ion-input
                                        labelPlacement="floating"
                                        fill="solid"
                                        label="{{ ('metadata.' + field | translate) !== ('metadata.' + field) ? ('metadata.' + field | translate) : field }}"
                                        placeholder="{{ ('metadata.' + field | translate) !== ('metadata.' + field) ? ('metadata.' + field | translate) : field }}"
                                        [formControlName]="field"
                                ></ion-input>
                            </ion-item>
                        }
                    }

                    <ion-item class="mt-3 mb-3" lines="none">
                        <ion-textarea [label]="'request_consultation.message_optional' | translate"
                                      labelPlacement="floating" fill="solid"
                                      formControlName="message"
                                      placeholder="{{ 'request_consultation.enter_text' | translate }}"></ion-textarea>
                    </ion-item>


                    <ion-item lines="none">
                        <div class="attachment-wrapper"
                             fileDrop
                             (click)="fileInput.value = null;fileInput.click()"
                             (fileDropped)="onFileDropped($event)">

                            <input type="file" #fileInput class="d-none" style="display: none"
                                   multiple (change)="onFileListener($event)">

                            <div class="uploader-wrapper">
                                <ion-img src="assets/icons/upload.svg"></ion-img>
                                <span class="upload-text" *ngIf="files.length === 0">
                              {{ 'request_consultation.upload_document' | translate }}
                            </span>

                                @for (file of files; track file.name; let i = $index) {
                                    <div class="upload-success-wrapper ion-align-items-center ion-justify-content-between">

                                        <div class="d-flex ion-align-items-center">
                                            <ion-icon name="checkmark-circle-outline" color="success"
                                                      size="small"></ion-icon>
                                            <p class="upload-success-text">{{ file.name }}</p>
                                        </div>

                                        <ion-icon name="close-circle" color="medium" size="small" class="remove-icon"
                                                  (click)="removeFile(i); $event.stopPropagation()"></ion-icon>
                                    </div>
                                }

                            </div>
                        </div>
                    </ion-item>

                    <button class="btn green mt-2 big" type="submit" [disabled]="!form.valid">
                        {{ 'request_consultation.request_consultation' | translate }}
                    </button>

                    <div class="label-wrapper" (click)="backToDashboard()">
                     <span class="label">
                        {{ 'common.back_to_dashboard' | translate }}
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


</ion-content>
