ion-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--blue-bg-color);

  .center {
    @media (max-width: 598px) {
      height: unset !important;
    }
  }

  .container {
    padding: 24px;
  }

  .custom-card {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
    @media (max-width: 598px) {
      width: 100%;
      flex-direction: column;
    }

  }

  ion-text {
    text-align: center;
    margin-bottom: 10px;
  }

  ion-input {
    width: 340px;
  }

  .mb-3 {
    margin-bottom: 1rem;
  }

  ion-label {
    color: black;
  }


}

.attachment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .uploader-wrapper {
    gap: 16px;
    width: 100%;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #BCC2CE;

    .upload-text {
      color: black;
      font-size: 1rem;
      line-height: 20px;
    }

    .upload-success-wrapper {
      display: flex;
      gap: 0.5rem;
      background: #f0f4f8;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

      .remove-icon {
        cursor: pointer;
      }

       ion-icon {
         flex-shrink: 0;
       }

      .upload-success-text {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 4px;
        line-height: 20px;
        color: rgb(56, 160, 108);
      }
    }

  }

}

.request-text {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 1rem;
}

.attachment {
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  text-align: center;

}

.mt-2 {
  margin-top: 1.5rem;
}


.label-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .label {
    color: black;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline;
    cursor: pointer;
  }

}
