<!--<ion-header id="chatHeader1">-->
<!--    <ion-toolbar>-->
<!--        <ion-title> {{ 'consultation.inProgress' | translate }} </ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->
<div >
<div
        style="height: calc(100% - 81px)"
        *ngIf="consultation && consultation.consultation && currentUser"
        #scrollMe
        id="chatContainer"
>

    <ion-grid class="chat">
        <ion-grid
                *ngFor="let msg of chatMessages"
                [ngClass]="{
        outgoing: msg.direction === 'outgoing',
        incoming: msg.direction === 'incoming'
      }"
                class="ion-margin"
        >


            <ion-row *ngIf="msg.isFile" class="ion-no-padding ion-no-margin">
                <ion-col class="chat-text-container">
                    <ion-row class="bubble ion-padding">
                        <p
                                style="overflow-wrap: normal"
                                class="ion-no-padding ion-no-margin"
                        >
                            {{'consultation.download' | translate}}:
                            <a
                                    *ngIf="msg.isFile"
                                    (click)="downloadPdf(msg.attachmentsURL, msg.fileName)"
                            >
                                {{msg.fileName}}
                            </a>
                        </p>
                    </ion-row>
                </ion-col>
            </ion-row>

            <audio *ngIf="msg.isAudio" controls>
                <source [src]="msg.attachmentsURL" type="audio/mpeg">
                {{ 'consultation.yourBrowserDoesNotSupport' | translate }}
            </audio>

            <ion-row
                    [ngClass]="{
        'right-img': msg.direction === 'outgoing',
        'left-img': msg.direction === 'incoming'  }"
            >
                <img
                        *ngIf="msg.isImage"
                        style="width: 60%; height: 60%; display: block"
                        [src]="msg.attachmentsURL"
                        alt="Couldn't load image"
                        (click)="openImgModal($event)"
                />
            </ion-row>

            <ion-row *ngIf="msg.text" class="ion-no-padding ion-no-margin">
                <ion-col class="chat-text-container">
                    <ion-row class="bubble ion-padding">
                        <p
                                style="overflow-wrap: normal"
                                class="ion-no-padding ion-no-margin"
                        >
                            {{ msg.text }}
                        </p>
                    </ion-row>

                </ion-col>
            </ion-row>


            <div class="msg-time" *ngIf="msg.from?.role === 'patient'; else oters ">
                {{consultation.consultation?.firstName}} {{consultation.consultation?.lastName}} -
                {{msg.createdAt | date: "d MMMM HH:mm":"fr-fr"
                }}</div>

            <ng-template #oters>
                <div class="msg-time" *ngIf="msg.from?.firstName || msg.from?.lastName">
                    {{msg.from?.firstName}} {{msg.from?.lastName}} -
                    {{msg.createdAt | date: "d MMMM HH:mm":"fr-fr"
                    }}</div>
            </ng-template>

            <ion-row *ngIf="msg.type === 'videoCall'" style="text-align: center">
                <p style="text-align: center; width: 100%">
                    <ng-container *ngIf="msg.acceptedAt ; else elseBlock">
                        {{'consultation.videoCallStarted' | translate}}
                    </ng-container>
                    <ng-template #elseBlock>{{'consultation.videoCallRequested' | translate}}</ng-template>
                </p>
                <span
                        class="msg-time"
                        style="display: block; width: 100%; margin-top: 0 !important">
          {{ msg.createdAt | date:'medium' }}
        </span>

                <ng-container *ngIf="msg.acceptedAt && msg.closedAt">
                    <p style="text-align: center; width: 100%">
                        {{'consultation.videoCallEnded' | translate}}
                    </p>
                    <span
                            class="msg-time"
                            style="display: block; width: 100%; margin-top: 0 !important"
                    >{{ msg.closedAt | date:'medium' }}
          </span>
                </ng-container>
            </ion-row>

            <ion-row *ngIf="msg.type === 'audioCall'" style="text-align: center">
                <p style="text-align: center; width: 100%">
                    <ng-container *ngIf="msg.acceptedAt ; else elseBlock">
                        {{'consultation.audioCallStarted' | translate}}
                    </ng-container>
                    <ng-template #elseBlock>{{'consultation.audioCallRequested' | translate}}</ng-template>
                </p>
                <span
                        class="msg-time"
                        style="display: block; width: 100%; margin-top: 0 !important"
                >{{ msg.createdAt | date:'medium' }}
        </span>

                <ng-container *ngIf="msg.acceptedAt && msg.closedAt">
                    <p style="text-align: center; width: 100%">
                        {{'consultation.audioCallEnded' | translate}}
                    </p>
                    <span
                            class="msg-time"
                            style="display: block; width: 100%; margin-top: 0 !important"
                    >{{ msg.closedAt | date:'medium' }}
          </span>
                </ng-container>
            </ion-row>


        </ion-grid>
        <ion-grid class="ion-margin outgoing">
            <ion-spinner *ngIf="isUploading" name="dots"></ion-spinner>
        </ion-grid>
        <div class="join-call-btn-container">
            <ion-button
                    *ngIf="ongoingCall && !shouldJoinCall && !callRunning"
                    class="controller"
                    color="success"
                    (click)="joinCall()"
            >
                {{'consultation.joinCall'|translate}}
            </ion-button>
        </div>
    </ion-grid>
</div>

<ion-modal [isOpen]="isImgModalOpen" (willDismiss)="closeImgModal(false)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title>{{ imgModalName }}</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="closeImgModal(false)">{{ "login.back" | translate }}</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <img
                    *ngIf="imgModalSrc"
                    [src]="imgModalSrc"
                    alt="imgModalAlt"
            />
            <ion-button (click)="closeImgModal(false)">{{ "login.back" | translate }}</ion-button>
        </ion-content>
    </ng-template>
</ion-modal>

<!--<ng-container-->
<!--        *ngIf="currentUser.role === 'patient' || currentUser.role === 'nurse' || currentUser.role === 'expert'"-->
<!--&gt;-->
<!--    <div-->
<!--            slot="fixed"-->
<!--            vertical="bottom"-->
<!--            *ngIf="consultation && consultation.consultation && consultation.consultation.status !== 'closed'"-->
<!--            class="input"-->
<!--            id="chatInputContainer"-->
<!--    >-->
<!--        <ion-grid>-->
<!--            <ion-row>-->
<!--                <ion-col size="2" class="ico ico-left">-->
<!--                    <ion-button (click)="showAttachmentModal()">-->
<!--                        <ion-icon slot="icon-only" name="attach"></ion-icon>-->
<!--                    </ion-button>-->
<!--                </ion-col>-->
<!--                <ion-col-->
<!--                >-->
<!--                    <ion-textarea-->
<!--                        #txtArea-->
<!--                        (keypress)="sendMsg($event)"-->
<!--                        (click)="readMessages()"-->
<!--                        [(ngModel)]="chatText"-->
<!--                        placeholder="{{'consultation.enterYourMessage'|translate}}"-->
<!--                        (ionFocus)="adjustScroll()"-->
<!--                    ></ion-textarea-->
<!--                    >-->
<!--                </ion-col>-->

<!--                <ion-col size="2" class="ico ico-right">-->
<!--                    <ion-button (click)="send()">-->
<!--                        <ion-icon slot="icon-only" name="send"></ion-icon>-->
<!--                    </ion-button>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--        </ion-grid>-->
<!--    </div>-->
<!--</ng-container>-->


</div>
