<ion-content padding>
  <div class="wrap">
    <div class="container">
      <div
        id="dashboard-div"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="20px"
        fxLayoutGap.xs="20px"
      >
        <div fxFlex="66%" fxFlexOrder="1" fxFlexOrder.xs="2">
          <div id="log">
            <div #scrollMe id="log-content">
              <ul>
                <li *ngFor="let i of info">
                  <p>{{ i }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div fxFlex="33%" fxFlex.xs="auto" fxFlexOrder="2" fxFlexOrder.xs="1">
          <button
            class="btn green big proceed-btn"
            mat-button
            type="button"
            [disabled]="loading"
            (click)="proceedToConsultation()"
            *ngIf="inviteToken"
          >
            {{
              loading
                ? ("test.loading" | translate)
                : ("test.joinTheConsultation" | translate)
            }}
          </button>

          <p class="text-white text-center" *ngIf="inviteToken">
            {{ "test.ifThisIsTheFirst" | translate }}
          </p>
          <p class="text-white text-center" *ngIf="!inviteToken">
            {{ "test.welcomeToTheHome" | translate: configService.config }}
          </p>
          <button
            class="btn test-btn"
            mat-button
            type="button"
            (click)="startTest()"
          >
            {{ testButton }}
          </button>

          <div id="video-loop">
            <div id="test-video-container" [hidden]="!testStarted">
              <div id="video-audio-container">
                <div>
                  <div id="msg-chain">
                    <ul style="list-style: none">
                      <li
                        *ngFor="let msg of msgChain"
                        [ngClass]="{
                          error: !msg.success,
                          success: msg.success
                        }"
                      >
                        <ion-icon
                          *ngIf="msg.success"
                          style="color: #06d362"
                          name="checkmark-circle-outline"
                        ></ion-icon>

                        <ion-icon
                          *ngIf="!msg.success"
                          name="close-circle-outline"
                        ></ion-icon>
                        {{ msg.msg }}
                      </li>
                    </ul>
                    <p>{{ globalMessage }}</p>
                  </div>
                  <div
                    [hidden]="!!accessHardwareGranted !== true"
                    style="display: flex"
                  >
                    <div *ngIf="session" id="volume-container">
                      <div
                        id="volume-slider"
                        [style.height.%]="100 - volumeLevel"
                      ></div>
                    </div>
                    <div id="mirrored-video">
                      <app-peer-video
                        #streamComponentLocal
                        *ngIf="myCamStream"
                        [stream]="myCamStream"
                      ></app-peer-video>
                      <div *ngIf="showSpinner" id="loader">
                        <div class="loader-1 center"><span></span></div>
                      </div>
                      <div *ngIf="session" id="tick-div">
                        <div
                          id="tooltip-tick"
                          *ngIf="testStatus == 'PLAYING'"
                          matTooltip="The connection is successful"
                          matTooltipPosition="below"
                        ></div>
                        <div
                          [ngClass]="
                            testStatus == 'PLAYING'
                              ? 'trigger drawn'
                              : 'trigger'
                          "
                        ></div>
                        <svg
                          version="1.1"
                          id="tick"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px"
                          y="0px"
                          viewBox="-1 -1 39 39"
                          style="enable-background: new 0 0 37 37"
                          xml:space="preserve"
                        >
                          <path
                            class="circ path"
                            style="
                              fill: none;
                              stroke: #06d362;
                              stroke-width: 4;
                              stroke-linejoin: round;
                              stroke-miterlimit: 10;
                            "
                            d="
        M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
                          />
                          <polyline
                            class="tick path"
                            style="
                              fill: none;
                              stroke: #06d362;
                              stroke-width: 4;
                              stroke-linejoin: round;
                              stroke-miterlimit: 10;
                            "
                            points="
        11.6,20 15.9,24.2 26.4,13.8 "
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
