#dashboard-div {
  height: 100%;
  padding: 20px;
}

#log {
  height: 90%;
}

#log-content {
  height: 90%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-card {
  width: 80%;
  @media (max-width: 598px) {
    width: 100%;
  }
}


ul {
  margin: 0;
}

.test-btn {
  background: var(--ion-color-primary);
}

mat-card-title button.blue {
  color: #ffffff;
  background: var(--ion-color-primary);
}

mat-card-title button.yellow {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffcc00;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tick-div {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tooltip-tick {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.circ {
  opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.tick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
}

.drawn + svg .path {
  opacity: 1;
  stroke-dashoffset: 0;
}

#mirrored-video {
  display: flex;
  justify-content: center;
  // position: relative;
}

video {
  display: block;
  margin: 30px;
  width: 100%;
}
@media screen and (max-width: 599px) {
  mat-card-title {
    font-size: 20px;
  }
}

/* Pure CSS loader */

#loader {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loader * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#loader ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#loader ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loader-1 {
  height: 100px;
  width: 100px;
  -webkit-animation: loader-1-1 4.8s linear infinite;
  animation: loader-1-1 4.8s linear infinite;
}

@-webkit-keyframes loader-1-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-1-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-1 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  clip: rect(0, 100px, 100px, 50px);
  -webkit-animation: loader-1-2 1.2s linear infinite;
  animation: loader-1-2 1.2s linear infinite;
}

@-webkit-keyframes loader-1-2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}

@keyframes loader-1-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

.loader-1 span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  clip: rect(0, 100px, 100px, 50px);
  border: 8px solid #4d4d4d;
  border-radius: 50%;
  -webkit-animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-1-3 {
  0% {
    -webkit-transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
  }
}

@keyframes loader-1-3 {
  0% {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(140deg);
  }
}

.wrap {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}

// .btn {
//   margin: 20px auto 0;
//   margin-bottom: 20px !important;
//   display: block;
//   border-radius: 60px;
//   text-align: center;
//   width: auto;
//   background: #b5e2ff;
//   color: var(--blue-bg-color);
//   font-size: 1.1em;
//   padding: 10px 20px 7px;

//   img {
//     opacity: 0.8;
//     max-height: 13px;
//     display: none;
//   }
// }

#volume-container {
  width: 12px;
  height: 400px;

  border: 1px solid #eaeaea;
  background: linear-gradient(
    180deg,
    rgba(194, 0, 0, 1) 0%,
    rgba(252, 220, 1, 1) 35%,
    rgba(41, 218, 0, 1) 70%
  );

  #volume-slider {
    height: 0;
    width: 100%;
    background: #fbfbfb;
    transition: width 0.15s ease;
    float: right;
  }
}

.success {
  color: #06d362;
}

.title {
  color: #ffffff;
  text-align: center;
  margin: 55px auto 30px;
}

#test-video-container {
  background: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  #test-video-container {
    max-width: 100% !important;
    display: block !important;
    justify-content: center;
  }
  #video-audio-container {
    display: flex;

    flex-direction: column;

    overflow: hidden;
    position: relative;
    z-index: 100;
    width: 100%;
  }
  #msg-chain {
    flex: 1;
  }
}

// #msg-chain {
//   color: white;
// }

#local-video-undefined {
  width: 100%;
}

ion-content {
  background: transparent;
}
.error {
  color: red;
}
::ng-deep {
  html[data-theme="accessibility"] {
    .proceed-btn,
    p {
      text-align: left;
    }
  }
}
