<div id="hhpMultiLang">
  <div (click)="openDropdown()" class="sl-container">
    <span
      [className]="
        'flag-icon flag-icon-' +
        (translate.currentLang === 'us' || translate.currentLang === 'en'
          ? 'us'
          : translate.currentLang)
      "
    ></span>
    <span class="caret-container">
      <ion-icon *ngIf="opened" name="caret-up-outline"></ion-icon>
      <ion-icon *ngIf="!opened" name="caret-down-outline"></ion-icon>
    </span>
  </div>
  <div *ngIf="opened" class="flag-options">
    <div
      *ngIf="translate.currentLang !== 'en'"
      (click)="changeLang('en')"
      class="hhpmlOption"
    >
      <span class="flag-icon flag-icon-us"></span>
    </div>
    <div
      *ngIf="translate.currentLang !== 'fr'"
      (click)="changeLang('fr')"
      class="hhpmlOption"
    >
      <span class="flag-icon flag-icon-fr"></span>
    </div>
    <div
      *ngIf="translate.currentLang !== 'ar'"
      (click)="changeLang('ar')"
      class="hhpmlOption"
    >
      <span class="flag-icon flag-icon-sa"></span>
    </div>
    <div
      *ngIf="translate.currentLang !== 'es'"
      (click)="changeLang('es')"
      class="hhpmlOption"
    >
      <span class="flag-icon flag-icon-es"></span>
    </div>
  </div>
</div>
