#hhpMultiLang {
  margin-top: 10px;
  cursor: pointer;
  left: calc(50% - 21px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .sl-container {
    display: flex;
    align-items: center;
    height: 42px;
    position: relative;
  }
  .caret-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}
.flag-icon {
  height: 35px;
  padding: 5px;
  margin: 10px;
}
.flag-options {
  position: absolute;
  bottom: 52px;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-primary) !important;
}
