<div id="hhpMultiLang">
  <div (click)="openDropdown($event)" class="sl-container">
    <span
      [className]="
        'flag-icon flag-icon-' +
        (translate.currentLang === 'us' || translate.currentLang === 'en'
          ? 'us'
          : translate.currentLang)
      "
    ></span>
    <span class="caret-container">
      <ion-icon *ngIf="opened" name="caret-up-outline"></ion-icon>
      <ion-icon *ngIf="!opened" name="caret-down-outline"></ion-icon>
    </span>
    <ng-container *ngIf="opened">
      <div class="flag-options">
        <div
          *ngIf="translate.currentLang !== 'en'"
          (click)="changeLang($event, 'en')"
          class="hhpmlOption"
        >
          <span class="flag-icon flag-icon-us"></span>
        </div>
        <div
          *ngIf="translate.currentLang !== 'fr'"
          (click)="changeLang($event, 'fr')"
          class="hhpmlOption"
        >
          <span class="flag-icon flag-icon-fr"></span>
        </div>
        <div
          *ngIf="translate.currentLang !== 'ar'"
          (click)="changeLang($event, 'ar')"
          class="hhpmlOption"
        >
          <span class="flag-icon flag-icon-sa"></span>
        </div>
        <div
          *ngIf="translate.currentLang !== 'es'"
          (click)="changeLang($event, 'es')"
          class="hhpmlOption"
        >
          <span class="flag-icon flag-icon-es"></span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
