ion-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--blue-bg-color);
  .card {
    min-width: 802px;
    overflow: auto;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    flex-wrap: nowrap;
  }

  ion-text {
    text-align: center;
  }

  .board-wrapper {
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .board {
    margin-top: 10px;
  }

  table {
   td {
      padding: 10px;
   }

    .border {
      border-bottom: 1px solid rgba(189, 189, 189, 1);
    }

    .avatar-container {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: rgba(234, 221, 255, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      margin: 4px 0;
      color: rgba(33, 0, 94, 1);
      font-style: normal;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.01px;

    }

    .name-container {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .name {
          color: rgba(0, 0, 0, 1);
          font-style: normal;
          font-size: 1.2rem;
          font-weight: 400;
      }

      .message {
          color: rgba(108, 108, 108, 1);
          font-style: normal;
          font-size: 0.7rem;
          font-weight: 400;

      }
    }

    .date-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      .date {
        color: rgba(108, 108, 108, 1);
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
      }

      .rounded-badge {
        background-color: rgba(179, 38, 30, 1);
        border-radius: 20px;
        line-height: 1.3;
        width: 20px;
        height: 20px;

      }
    }

    .closed {
      color: rgba(2, 2, 2, 1);
      font-style: normal;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
    }

    .table-items {
      display: flex;
      flex-direction: row;
      gap: 5px;

      .flex-item {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .title {
          color: rgba(2, 2, 2, 1);
          font-style: normal;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
        }

        .value {
          color: rgba(108, 108, 108, 1);
          font-style: normal;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
        }
      }
    }

    .buttons-wrapper {

      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .resume-button {
      --border-radius: 20px;
      --background: #ffff;
      --box-shadow	: 0px 1px 1px 0px rgba(0, 0, 0, 0.16), 0px 2px 2px 0px rgba(0, 0, 0, 0.09), 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
      --color	: rgba(73, 177, 79, 1);
      font-size: 14px;
      font-weight: 500;
    }

    .cancel-button {
      color: red;
      text-decoration: underline;
      text-decoration-color: red;
      font-size: 0.7rem;
      cursor: pointer;
    }

  }


}

.badge {
  position: absolute;
  top: -5px;
  line-height: 1.3;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: rgba(179, 38, 30, 1);
  text-align: center;
}



.position-relative {
  position: relative;
}

.empty-text {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;

}
