<ion-content>
    <app-header ></app-header>
    <div class="board-wrapper">
        <div class="card">
            <ion-text>
                <div class="position-relative">
                    <h1 class="authenticate">Consultations
                        <ion-badge class="badge">{{activeCount}}</ion-badge>
                    </h1>
                </div>
            </ion-text>

            <div class="board">
                <table *ngIf="consultations.length; else emptyBlock">
                    <tbody>
                    <ng-container *ngFor="let consultation of consultations">
                        <tr>
                            <td>
                                <div class="avatar-container">
                                    {{consultation.consultation.firstName | titlecase | slice: 0: 1 }}{{consultation.consultation.lastName| titlecase | slice: 0: 1}}
                                </div>
                            </td>
                            <td class="border">
                                <div class="name-container">
                                    <span class='name'>{{consultation.consultation.firstName }} {{consultation.consultation.lastName}}</span>
                                    <span class='message' *ngIf="consultation?.lastMsg?.text">{{consultation?.lastMsg?.text}}</span>
                                    <span class='attach' *ngIf="consultation?.lastMsg?.type === 'attachment'">
                                        <ion-img src="assets/icons/attach-icon.svg" ></ion-img>
                                        {{consultation?.lastMsg?.fileName}}
                                    </span>
                                </div>
                            </td>
                            <td class="border">
                                <div class="date-container">
                                    <span class='date' *ngIf="consultation?.lastMsg?.createdAt">{{consultation?.lastMsg?.createdAt  | date: 'dd/MM/YYYY HH:mm'}}</span>
                                    <ion-badge class="rounded-badge">{{consultation.unreadCount}}</ion-badge>
                                </div>
                            </td>
                            <td class="border">
                                <div class="table-items">
                                    <div class="flex-item ion-align-items-end">
                                        <span class="title">Handled by:</span>
                                        <span class="title">Requested at:</span>
                                        <span class="title">Area:</span>
                                    </div>

                                    <div class="flex-item ion-align-items-start">
                                        <span class="value">{{consultation.doctor?.firstName || 'requesting'}} {{consultation.doctor?.lastName}}</span>
                                        <span class="value">{{consultation.consultation.createdAt  | date: 'dd/MM/YYYY'}}</span>
                                        <span class="value">{{consultation.queue.name}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="border">
                                <div class="table-items">
                                    <div class="flex-item ion-align-items-end">
                                        <span class="title">Country:</span>
                                        <span class="title">Sex:</span>
                                        <span class="title">Hospital/facility:</span>
                                    </div>

                                    <div class="flex-item ion-align-items-start">
                                        <span class="value">{{consultation.consultation?.metadata?.Country || '-'}}</span>
                                        <span class="value">{{consultation.consultation.gender}}</span>
                                        <span class="value">{{consultation.consultation?.metadata?.['Hospital/facility'] || '-'}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="border">
                                <div class="buttons-wrapper">
                                    <ion-button class="resume-button" (click)="resume(consultation)">Resume</ion-button>
                                    <span class="cancel-button" (click)="showCancelModal(consultation)" *ngIf="!consultation?.doctor">Cancel consultation</span>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
                <ng-template #emptyBlock>
                    <div class="empty-text">
                        You have no consultation in history yet. Use the button below to open new consultation request.
                    </div>
                </ng-template>
            </div>

            <button class="btn green mt-2" (click)="requestConsultation()">
                Request new consultation
            </button>
        </div>
    </div>


    <div class="board-wrapper">
        <div class="card">
            <ion-text>
                <div class="position-relative">
                    <h1>History
                        <ion-badge class="badge">{{closedCount}}</ion-badge>
                    </h1>
                </div>
            </ion-text>

            <div class="board">
                <table *ngIf="closedConsultations.length; else emptyHistoryBlock">
                    <tbody>
                    <ng-container *ngFor="let consultation of closedConsultations">
                        <tr>
                            <td>
                                <div class="avatar-container">
                                    {{consultation.consultation.firstName | titlecase | slice: 0: 1 }}{{consultation.consultation.lastName| titlecase | slice: 0: 1}}
                                </div>
                            </td>
                            <td class="border">
                                <div class="name-container">
                                    <span class='name'>{{consultation.consultation.firstName }}{{consultation.consultation.lastName}}</span>
                                    <span class='message'>-</span>
                                </div>
                            </td>
                            <td class="border">
                                <div class="table-items">
                                    <div class="flex-item ion-align-items-end">
                                        <span class="title">Handled by:</span>
                                        <span class="title">Requested at:</span>
                                        <span class="title">Area:</span>
                                    </div>

                                    <div class="flex-item ion-align-items-start">
                                        <span class="value">{{consultation.doctor?.firstName || 'requesting'}} {{consultation.doctor?.lastName}}</span>
                                        <span class="value">{{consultation.consultation?.createdAt  | date: 'dd/MM/YYYY'}}</span>
                                        <span class="value">{{consultation.queue?.name}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="border">
                                <div class="table-items">
                                    <div class="flex-item ion-align-items-end">
                                        <span class="title">Closed at:</span>
                                        <span class="title">Sex:</span>
                                        <span class="title">Hospital/facility:</span>
                                    </div>

                                    <div class="flex-item ion-align-items-start">
                                        <span class="value">{{consultation.consultation?.closedAt  | date: 'dd/MM/YYYY'}}</span>
                                        <span class="value">{{consultation.consultation?.gender}}</span>
                                        <span class="value">{{consultation.consultation?.metadata?.['Hospital/facility'] || '-'}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="border">
                                <div class="buttons-wrapper">
                                    <ion-button class="resume-button" (click)="resume(consultation)">View</ion-button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
                <ng-template #emptyHistoryBlock>
                    <div class="empty-text">
                        You have no consultation in history yet.
                    </div>
                </ng-template>
            </div>

        </div>
    </div>


</ion-content>
