<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'consultations.browserNotSupported' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p
    style="padding: 20px;
padding-top:0;
line-height: 1.4;"
  >
    {{ 'consultations.yourBrowserIsNotCompatible' | translate }}
  </p>
  <ul>
    <li>{{ 'consultations.aCamera' | translate }}</li>
    <li>{{ 'consultations.aMicrophone' | translate }}</li>
    <li>{{ 'consultations.fromARecentBrowser' | translate }}</li>
  </ul>
  <p>
    {{ 'consultations.theBrowsersCurrentlySupported' | translate }}
  </p>
  <ul>
    <li>{{ 'consultations.forIOSPhones' | translate }}</li>
    <li>{{ 'consultations.forAndroidPhones' | translate }}</li>
    <li>{{ 'consultations.forMacOSComputers' | translate }}</li>
    <li>{{ 'consultations.forWindowsComputers' | translate }}</li>
    <li>{{ 'consultations.forLinuxComputers' | translate }}</li>
  </ul>

  <div style="display: flex; height:106px; padding: 20px;">
    <div><img src="../../assets/images/hug-square.jpg" alt="" /></div>
    <div
      style="display: flex; align-items: center; background-color:white; height: 100%;"
    >
      <img src="../../assets/images/imad.png" alt="" />
    </div>
    <div><img src="../../assets/images/home.png" alt="" /></div>
    <div style="display: flex; align-items: center;">
      <img src="../../assets/42406c8f52924105a84c4163a89506fd.png" alt="" />
    </div>
  </div>
</ion-content>
