<ion-content>
    <div class="auth-wrapper">
        <div class="card">
            <ion-text>
                <h1 class="authenticate">{{ 'authenticate.authenticate' | translate }}</h1>
            </ion-text>
            <p class="btn green" *ngIf="showOpenIdLogin">
                <a [href]="openIdLoginUrl" class="login-btn">
                    {{'authenticate.login_with' | translate}}
                </a>
            </p>
            <div class="label-wrapper">
                 <span class="label" (click)="register()">
                    {{'authenticate.no_account' | translate}}
                </span>
            </div>
        </div>
    </div>
    <app-select-language></app-select-language>
</ion-content>
